node_serveur/pairform_modules/app/views/messages.jade
#comBar.pf(ng-controller="controller_messages", ng-class="{'expanded' : expanded}", ng-show="visible")
  #comAction
    ul
      li#com-search.btn-action
        input(type="search", ng-model="filtre_messages", results="5", autosave="fr.emn.pairform.search", placeholder="{{'web_button_rechercher' | translate}}")
      //-
        li id="com-detach" ng-click="changerAffichage()" class="btn-action">
                        <span>{{(expanded ? 'web_label_reduire_panneau' : 'web_label_agrandir_panneau') | translate}}</span>
                    </li
      li#com-detach.btn-action(ng-click="toggleAffichageCarte(!carte_visible)")
        span {{carte_visible ? "Cacher carte" : "Afficher carte"}}
      li#com-sort.btn-action(ng-click="changerOrdreTri()")
        span {{"web_button_trier_par" | translate}} {{next_sort_type}}
    pf-carte#map_(data="message_geolocalise", style="width:520px;height:350px")
    form#formComBar(ng-hide="transversal", method="post", ng-submit="envoyer()")
      textarea(ng-model="storage.pf_nouveau_message.contenu", ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", placeholder="Votre commentaire...")
      #message-actions
        #message-pjs(title="Ajouter une pièce jointe")
          #message-pjs-img.message-pjs-cog(ng-click="toggleAffichagePJ()")
        #message-options(title="{{'button_publier_message_options' | translate}}")
          .message-options-cog(ng-click="visible_menu_options_message = !visible_menu_options_message")
          pf-menu-options-message(ng-show="visible_menu_options_message")
        //- #message-langue(title="{{'button_changer_langue_message' | translate}}")
          img#message-langue-img(ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(storage.pf_nouveau_message.id_langue) + '.png'}}", ng-click="fonctionPasDisponible()", alt="")
        #message-geolocalisation
          #message-geolocalisation-img(ng-class="{active : storage.pf_nouveau_message.geolocalisation.longitude}" ng-click="visible_menu_options_geolocalisation = !visible_menu_options_geolocalisation", alt="")            
          pf-menu-options-geolocalisation(ng-show="visible_menu_options_geolocalisation")
          //- <img id="message-langue-img" ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(storage.pf_nouveau_message.id_langue) + '.png'}}" ng-click="visible_menu_langue = (visible_menu_langue ? false : true)" alt=""/>
          //- <pf-menu-langue ng-if="visible_menu_langue" />
        input(type="submit", value="")
      pf-upload-pj
    #comCloser.btn-cross-fermer(ng-click="remove()") x
    .btn-cross-fermer.btn-cross-expand(ng-class="{'expanded' : expanded}", ng-click="changerAffichage()") &#9650;
  #comContainer
    #comList(ng-class="{'no-margin' : transversal}")
      pf-message.comBox(ng-repeat="message in messages_sorted_array = (messages_array | orderMessages:this) | search:filtre_messages | limitTo:limit:limit_begin")
        .comProfil
          img.imgProfil.pf-user-avatar(ng-click="afficherProfil(message.id_auteur)", ng-src="{{message.url_avatar_auteur}}", title="{{'web_label_clique_visualiser_profil' | translate}})")
          .voteSection
            .vote.voteNo(ng-click="voter(message, -1)", ng-class="{'active' : (message.utilisateur_a_vote == '-1')}", title="{{'web_label_commentaire_inutile' | translate}}") -
            .voteCount(title="Cliquez ici pour afficher les votes négatifs et positifs", ng-click="afficherVotes(message)")
              span.somme-votes(ng-hide="message.toggle_somme_votes") {{message.somme_votes}}
              span.diff-votes(ng-show="message.toggle_somme_votes")
                span.negatif {{message.votes_negatif}}
                span.positif {{message.votes_positif}}
            .vote.voteYes(ng-click="voter(message, 1)", ng-class="{'active' : (message.utilisateur_a_vote == '1')}", title="{{'web_label_commentaire_utile' | translate}})") +
          img.comMedaille(ng-if="message.medaille != ''", ng-src="{{(message.medaille != '') ? (res_url_private + 'img/medaille_' + message.medaille + '.png') : ''}}", title="{{'web_label_message_pertinant_collaborateur' | translate}}")
          img.comDefi(ng-if="message.defi_valide > 0", ng-src="{{res_url_private + 'img/DefiValid.png'}}", title="{{'web_label_reponse_validee_par_defieur' | translate}}")
          img.comDefi(ng-if="message.est_defi == 1", ng-src="{{res_url_private + 'img/DefiActif.png'}}", title="{{'web_label_message_defi_actif' | translate}}")
          img.comDefi(ng-if="message.est_defi == 2", ng-src="{{res_url_private + 'img/DefiFini.png'}}", title="{{'web_label_message_defi_termine' | translate}}")
          img.comGeolocalise(ng-if="message.estGeolocalise", ng-src="{{res_url_private + 'img/marqueur_carte_actif.png'}}", ng-click="showMarqueurs(message)", title="{{'web_label_message_geolocalise' | translate}}")
        .comContent
          .comTitle
            h5.comUserName {{::message.pseudo_auteur}}
            span.comUserRank  - {{("label_user_" + message.role_auteur.toLowerCase()) | translate }}
            span.comMessPrive(ng-if="message.prive == 1")  - {{"web_label_message_prive" | translate}}
            .timeCreated {{::message.date_creation | date_timestamp }}
          .comText(ng-bind-html="((message.supprime_par == '0') || (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3)) ? (message.contenu | linky:'_blank') : ('web_label_msg_supprime' | translate)")
          pf-image-thumbnail(ng-if="message.pieces_jointes.length", images="message.pieces_jointes")
          .actionSection
            .comLinkToRes(ng-if="transversal")
              a(ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}") {{"web_button_context" | translate}}
            .comRepondre(ng-if="!transversal", ng-click="repondre(message)")
              | {{"button_repondre" | translate}}
            //- <div ng-if="message.estGeolocalise" class="comCarte" ng-click="showMarqueurs(message)">{{'web_button_context' | translate}}</div>
            .comSuppr(ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3) || (message.id_auteur == utilisateur_local.id_utilisateur))", ng-click="supprimer(message)")
              | {{(message.supprime_par == "0" ? "button_supprimer" : "web_button_retablir") | translate}}
            .comDonnerMedaille(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur != utilisateur_local.id_utilisateur))", ng-click="visible_menu_medaille = visible_menu_medaille ? undefined : message.id_message")
              | {{"label_medaille" | translate}}
              pf-menu-medaille(ng-if="visible_menu_medaille == message.id_message")
            .comAjouterTags(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2", ng-click="visible_menu_tags = visible_menu_tags ? undefined : message.id_message")
              | {{"label_tags" | translate}}
              pf-menu-tags(stop-event="click", ng-if="visible_menu_tags == message.id_message")
            .comSupprDef(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie == 5", ng-click="supprimer(message,true)")
              | {{"web_label_sup_msg_definitivement" | translate}}
            .comValiderMessage(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.message_parent.est_defi == 1))", ng-click="validerMessageDefi(message)")
              | {{(message.defi_valide == "0" ? "web_label_valider" : "web_label_invalider") | translate}}
            .comTerminerDefi(ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur == utilisateur_local.id_utilisateur) && (message.est_defi == 1))", ng-click="terminerDefi(message)")
              | {{"button_terminer_defi" | translate}}
            .comPartagerMessage(ng-click="partagerMessage(message)")
              | partager
              pf-menu-partager(stop-event="click", ng-if="visible_menu_partager == message.id_message")
            .comValiderMessage(draggable="true", ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2)", ng-click="deplacerMessage(message)")
              | d&#233;placer
            //-
                                    <div ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))" ng-click="visible_menu_langue = visible_menu_langue ? undefined : message.id_message" class="comModifierLangue">
                                        <img ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(message.id_langue) + '.png'}}" alt="langue">
                                        <pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/>
                                    </div> 
            .comModifierLangue(ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))", ng-click="fonctionPasDisponible()")
              img(ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(message.id_langue) + '.png'}}", alt="langue")
              //- <pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/>
        .comTagsContainer(ng-show="message.tags.length > 0")
          .comTagsLabel(ng-repeat="tag in parseJSON(message.tags)")
            | {{'#' + tag}}
            span(ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2", ng-click="supprimerTag(message, tag)") x
      //- <div class='ng-hide comBar-no-element'>
      .comBar-no-element(ng-if="messages_array.length == 0")
        //-
           <div class='comBar-arrow-placeholder'>
                            <img src='/img/comBar-arrow.png'/>
                        </div> 
        .comBar-label
          h2 {{"label_liste_messages_vide" | translate}}
          div {{"web_label_element_pas_de_contenu" | translate}}
          h3 {{"web_label_reagir_sur_partie" | translate}}

node_serveur/pairform_modules/app/views/messages.html
<div ng-controller="controller_messages" id="comBar" class="pf" ng-class="{'expanded' : expanded}" ng-show="visible">
	<div id="comAction">
		<ul>
			<li id="com-search" class="btn-action">	
				<input ng-model="filtre_messages" type="search" results="5"  autosave="fr.emn.pairform.search" placeholder="{{'web_button_rechercher' | translate}}">
			</li>
			<!--li id="com-detach" ng-click="changerAffichage()" class="btn-action">
				<span>{{(expanded ? 'web_label_reduire_panneau' : 'web_label_agrandir_panneau') | translate}}</span>
			</li-->
			<li id="com-detach" ng-click="toggleAffichageCarte(!carte_visible)" class="btn-action">
				<span>{{carte_visible ? "Cacher carte" : "Afficher carte"}}</span>
			</li>
			<li id="com-sort" ng-click="changerOrdreTri()" class="btn-action">	
				<span>{{'web_button_trier_par' | translate}} {{next_sort_type}}</span>
			</li>

		</ul>

		<pf-carte data="message_geolocalise" style="width:520px;height:350px" id="map_">
		</pf-carte>
		<form ng-hide="transversal" method="post" id="formComBar" ng-submit="envoyer()">
			<textarea ng-model="storage.pf_nouveau_message.contenu" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" placeholder="Votre commentaire..."></textarea>
			<div id="message-actions">
				
				<div id="message-pjs" title="Ajouter une pièce jointe">
					<div id="message-pjs-img" class="message-pjs-cog" ng-click="toggleAffichagePJ()"></div>
				</div>

				<div id="message-options" title="{{'button_publier_message_options' | translate}}">
					<div class="message-options-cog" ng-click="visible_menu_options_message = !visible_menu_options_message">
					</div>
					<pf-menu-options-message ng-show="visible_menu_options_message"/>
				</div>
				<div id="message-langue" title="{{'button_changer_langue_message' | translate}}" >
					<img id="message-langue-img" ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(storage.pf_nouveau_message.id_langue) + '.png'}}" ng-click="fonctionPasDisponible()" alt=""/> 
					<!-- <img id="message-langue-img" ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(storage.pf_nouveau_message.id_langue) + '.png'}}" ng-click="visible_menu_langue = (visible_menu_langue ? false : true)" alt=""/>  -->
					<!-- <pf-menu-langue ng-if="visible_menu_langue" /> -->
				</div>
				<input type="submit" value=""/>
			</div>
			<pf-upload-pj></pf-upload-pj>
		</form>
		<div class="btn-cross-fermer" ng-click="remove()" id="comCloser">x</div>
		<div class="btn-cross-fermer btn-cross-expand" ng-class="{'expanded' : expanded}" ng-click="changerAffichage()">&#9650;</div>
	</div>
	<div id="comContainer">
		<div id="comList" ng-class="{'no-margin' : transversal}">
			<pf-message ng-repeat="message in messages_sorted_array = (messages_array | orderMessages:this) | search:filtre_messages | limitTo:limit" class="comBox">
				<div class="comProfil">
					<img ng-click="afficherProfil(message.id_auteur)" class="imgProfil" ng-src="{{message.url_avatar_auteur}}" title="{{'web_label_clique_visualiser_profil' | translate}})"/>
					<div class="voteSection">				
						<div class="vote voteNo" ng-click="voter(message, -1)" ng-class="{'active' : (message.utilisateur_a_vote == '-1')}" title="{{'web_label_commentaire_inutile' | translate}}">-</div>
						<div class="voteCount" title="Cliquez ici pour afficher les votes négatifs et positifs" ng-click="afficherVotes(message)">
							<span class="somme-votes" ng-hide="message.toggle_somme_votes">{{message.somme_votes}}</span>
							<span class="diff-votes" ng-show="message.toggle_somme_votes">
								<span class="negatif" >{{message.votes_negatif}}</span>
								<span class="positif" >{{message.votes_positif}}</span>
							</span>
						</div>
						<div class="vote voteYes" ng-click="voter(message, 1)" ng-class="{'active' : (message.utilisateur_a_vote == '1')}" title="{{'web_label_commentaire_utile' | translate}})">+</div>
					</div>
					<img ng-if="message.medaille != ''" ng-src="{{(message.medaille != '') ? (res_url_private + 'img/medaille_' + message.medaille + '.png') : ''}}" class="comMedaille" title="{{'web_label_message_pertinant_collaborateur' | translate}}"/>
					<img ng-if="message.defi_valide > 0" ng-src="{{res_url_private + 'img/DefiValid.png'}}" class="comDefi" title="{{'web_label_reponse_validee_par_defieur' | translate}}"/>
					<img ng-if="message.est_defi == 1" ng-src="{{res_url_private + 'img/DefiActif.png'}}" class="comDefi" title="{{'web_label_message_defi_actif' | translate}}"/>
					<img ng-if="message.est_defi == 2" ng-src="{{res_url_private + 'img/DefiFini.png'}}" class="comDefi" title="{{'web_label_message_defi_termine' | translate}}"/>
					<img ng-if="message.estGeolocalise" ng-src="{{res_url_private + 'img/marqueur_carte_actif.png'}}" class="comGeolocalise" ng-click="showMarqueurs(message)" title="{{'web_label_message_geolocalise' | translate}}"/>
				</div>
				<div class="comContent">
					<div class="comTitle">
						<h5 class="comUserName">{{::message.pseudo_auteur}}</h5>
						<span class="comUserRank"> - {{('label_user_' + message.role_auteur.toLowerCase()) | translate }}</span>
						<span ng-if="message.prive == 1" class="comMessPrive"> - {{"web_label_message_prive" | translate}}</span>
						<div class="timeCreated">{{::message.date_creation | date_timestamp }}</div>
					</div>
					<div class="comText" ng-bind-html="((message.supprime_par == '0') || (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3)) ? (message.contenu | linky:'_blank') : ('web_label_msg_supprime' | translate)"></div>

					<pf-image-thumbnail ng-if="message.pieces_jointes.length" images="message.pieces_jointes"></pf-image-thumbnail>

					<div class="actionSection">
						<div class="comLinkToRes" ng-if="transversal">
							<a ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}">{{'web_button_context' | translate}}</a>
						</div>
						<div ng-if="!transversal" class="comRepondre" ng-click="repondre(message)">
							{{'button_repondre' | translate}}
						</div>

						<!-- <div ng-if="message.estGeolocalise" class="comCarte" ng-click="showMarqueurs(message)">{{'web_button_context' | translate}}</div> -->

						<div ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 3) || (message.id_auteur == utilisateur_local.id_utilisateur))" class="comSuppr" ng-click="supprimer(message)">
							{{(message.supprime_par == "0" ? 'button_supprimer' : 'web_button_retablir') | translate}}
						</div>
						<div ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur != utilisateur_local.id_utilisateur))" ng-click="visible_menu_medaille = visible_menu_medaille ? undefined : message.id_message" class="comDonnerMedaille">
							{{'label_medaille' | translate}}
							<pf-menu-medaille ng-if="visible_menu_medaille == message.id_message"/>
						</div>
						<div ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2" ng-click="visible_menu_tags = visible_menu_tags ? undefined : message.id_message" class="comAjouterTags">
							{{'label_tags' | translate}}
							<pf-menu-tags stop-event="click" ng-if="visible_menu_tags == message.id_message"/>
						</div>
						<div ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie == 5" class="comSupprDef" ng-click="supprimer(message,true)">
							{{'web_label_sup_msg_definitivement' | translate}}
						</div>
						<div ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.message_parent.est_defi == 1))" ng-click="validerMessageDefi(message)" class="comValiderMessage">
							{{(message.defi_valide == "0" ? 'web_label_valider' : 'web_label_invalider') | translate}}
						</div>
						<div ng-if="utilisateur_local.est_connecte && (((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4)) && (message.id_auteur == utilisateur_local.id_utilisateur) && (message.est_defi == 1))" ng-click="terminerDefi(message)" class="comTerminerDefi">
							{{'button_terminer_defi' | translate}}
						</div>
						<div ng-click="partagerMessage(message)" class="comPartagerMessage">
							partager
							<pf-menu-partager stop-event="click" ng-if="visible_menu_partager == message.id_message"/>
						</div>
						<div draggable="true" ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2)" ng-click="deplacerMessage(message)" class="comValiderMessage">
							déplacer
						</div>
						<!-- 						<div ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))" ng-click="visible_menu_langue = visible_menu_langue ? undefined : message.id_message" class="comModifierLangue">
							<img ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(message.id_langue) + '.png'}}" alt="langue">

							<pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/>
						</div> -->
						<div ng-if="utilisateur_local.est_connecte && ((utilisateur_local.rank[capsule.id_capsule].id_categorie >= 4) || (message.id_auteur == utilisateur_local.id_utilisateur))" ng-click="fonctionPasDisponible()" class="comModifierLangue">
							<img ng-src="{{res_url_private + 'img/langue/icone_drapeau_rond_' + codeFromId(message.id_langue) + '.png'}}" alt="langue">

							<!-- <pf-menu-langue ng-if="visible_menu_langue == message.id_message" stop-event/> -->
						</div>
					</div>
				</div>
				<div ng-show="message.tags.length > 0"  class="comTagsContainer">
					<div ng-repeat="tag in parseJSON(message.tags)" class="comTagsLabel">#{{tag}}
					<span ng-if="utilisateur_local.est_connecte && utilisateur_local.rank[capsule.id_capsule].id_categorie >= 2" ng-click="supprimerTag(message, tag)">x</span>
					</div>
				</div>
			</pf-message>
			<!-- <div class='ng-hide comBar-no-element'> -->
			<div ng-if="messages_array.length == 0" class='comBar-no-element'>
				<!-- <div class='comBar-arrow-placeholder'>
					<img src='/img/comBar-arrow.png'/>
				</div> -->
				<div class='comBar-label'>
					<h2>{{'label_liste_messages_vide' | translate}}</h2>
					<div>{{'web_label_element_pas_de_contenu' | translate}}</div>
					<h3>{{'web_label_reagir_sur_partie' | translate}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
