node_serveur_old_trunk/pairform_modules/app/views/reseau.html
<div ng-controller="controller_reseau" class="panel-container-right pf" id="profil-config-panel-container" ng-show="visible">
	<section class="panel-wrapper" id="reseaux-wrapper">
		<div class="btn-cross-fermer" ng-click="remove()" id="btn-reseaux-fermer">x</div>
		<section class="panel-head" id="reseaux-head">
			<h1 class='panel-title' id='reseaux-user'>{{'title_cercles' | translate}}</h1>
		</section>
		<section class="reseaux-container" id="cercles-container">
			<span class="sous-section-label">{{'title_mes_cercles' | translate}}</span>
			<span ng-if="mode == 'gestion'" ng-click="afficherFormReseau('ajout_cercle')" class="reseaux-add reseaux-add-item" title="{{'title_creer_cercle' | translate}}">+</span>
			<section ng-if="mode == 'gestion'" ng-show="sous_mode == 'ajout_cercle'" class="reseaux-add-item-form">
				<input type="text" placeholder="{{'label_nom' | translate}}" ng-model="$parent.nouveau_reseau">
				<span class="reseaux-cancel reseaux-cancel-item"  ng-click="afficherFormReseau(false)" title="{{'button_annuler' | translate}}">&#10008;</span>
				<span class="reseaux-valid reseaux-valid-item" ng-click="ajouterReseau('cercle')" title="{{'web_button_valider' | translate}}">&#10004;</span>
			</section>
			<ul class="reseaux-liste">
				<li ng-repeat="cercle in cercles track by cercle.id_collection" class="reseaux-item" data-id_collection="{{cercle.id}}>">
					<span class="reseaux-item-label">{{cercle.nom}}</span>
					<div ng-if="mode == 'usage'" ng-click="utiliserReseau(cercle)" class="reseaux-valid reseaux-select-item" title="{{'web_button_selectionner' | translate}}">&#10004;</div>
					<div ng-if="mode == 'ajout'" ng-click="ajouterUtilisateurDansReseauDepuisReseau(cercle)" class="reseaux-add reseaux-add-to-item" title="{{'web_button_ajouter_a_ce_cercle' | translate}}">+</div>
					<div ng-if="mode == 'gestion'" ng-click="supprimerReseau(cercle, cercles)" class="reseaux-cancel reseaux-delete-item" title="{{'web_button_supprimer_ce_cercle' | translate}}">&#10008;</div>
					<ul class="reseaux-liste-user" ng-class="{'focused-reseau' : cercle == reseau_selected}" >
						<div ng-if="mode == 'gestion'" ng-click="selectionUtilisateurPourReseau(cercle)" class="reseaux-add reseaux-add-user" title="{{'web_button_ajouter_une_personne_cercle' | translate}}">+</div>
						<li ng-repeat="profil in cercle.profils track by profil.id_utilisateur" class="reseaux-user">
							<div ng-if="(mode == 'gestion') || (mode == 'ajout')" ng-click="supprimerUtilisateurReseau(profil, cercle)" class="reseaux-cancel reseaux-delete-user" title="{{'web_button_supprimer_cet_utilisateur' | translate}}">&#10008;</div>
							<img ng-click="afficherProfil(profil.id_utilisateur)" ng-src="{{profil.avatar_url || profil.image}}" alt=""/>
							<figcaption>{{profil.username}}</figcaption>
						</li>	
					</ul>
				</li>
			</ul>
		</section>
		<section class="reseaux-container" id="classes-container">
			<span class="sous-section-label">{{'title_classes' | translate}}</span>
			<span ng-if="mode == 'gestion'" ng-click="afficherFormReseau('ajout_classe')" class="reseaux-add reseaux-add-item" data-type="classe" title="{{'web_button_creer_classe' | translate}}">+</span>
			<section ng-if="mode == 'gestion'" ng-show="sous_mode == 'ajout_classe'" class="reseaux-add-item-form">
				<input type="text" placeholder="{{'web_label_nom_classe' | translate}}" ng-model="$parent.nouveau_reseau">
				<span class="reseaux-cancel reseaux-cancel-item"  ng-click="afficherFormReseau(false)" title="{{'button_annuler' | translate}}">&#10008;</span>
				<span class="reseaux-valid reseaux-valid-item" ng-click="ajouterReseau('classe')" title="{{'web_button_valider' | translate}}">&#10004;</span>
			</section>
			<ul class="reseaux-liste">
				<li ng-repeat="classe in classes track by classe.id_collection" class="reseaux-item" data-id_collection="{{classe.id}}>">
					<span class="reseaux-item-label">{{classe.nom}}</span>
					<div ng-if="mode == 'usage'" ng-click="utiliserReseau(classe)" class="reseaux-valid reseaux-select-item" title="{{'web_button_selectionner' | translate}}">&#10004;</div>
					<div ng-if="mode == 'ajout'" ng-click="ajouterUtilisateurDansReseauDepuisReseau(classe)" class="reseaux-add reseaux-add-to-item" title="{{'web_button_ajouter_a_cette_classe' | translate}}">+</div>
					<div ng-if="mode == 'gestion'" ng-click="supprimerReseau(classe, classes)" class="reseaux-cancel reseaux-delete-item" title="{{'web_button_supprimer_cette_classe' | translate}}">&#10008;</div>
					<span class="reseaux-item-cle-label">Clé : {{classe.cle}}</span>
					<ul class="reseaux-liste-user">
						<div ng-if="mode == 'gestion'" ng-click="selectionUtilisateurPourReseau(classe)"  class="reseaux-add reseaux-add-user" title="{{'web_button_ajouter_une_personne_classe' | translate}}">+</div>
						<li ng-repeat="profil in classe.profils track by profil.id_utilisateur" class="reseaux-user">
							<img ng-click="afficherProfil(profil.id_utilisateur)" ng-src="{{profil.avatar_url || profil.image}}" alt=""/>
							<figcaption>{{profil.username}}</figcaption>
						</li>
					</ul>
				</li>
			</ul>
		</section>
		<section class="reseaux-container" id="classes-rejointes-container">
			<span class="sous-section-label">{{'title_classes_rejointes' | translate}}</span>
			<span ng-if="mode == 'gestion'" ng-click="afficherFormReseau('rejoint_classe')" class="reseaux-add reseaux-add-item reseaux-rejoindre-item" data-type="rejoindre_classe" title="{{'title_rejoindre_classe' | translate}}">+</span>
			<section ng-if="mode == 'gestion'" ng-show="sous_mode == 'rejoint_classe'" class="reseaux-add-item-form">
				<input type="text" placeholder="{{'label_clef_classe' | translate}}" ng-model="$parent.nouveau_reseau">
				<span class="reseaux-cancel reseaux-cancel-item"  ng-click="afficherFormReseau(false)" title="{{'button_annuler' | translate}}">&#10008;</span>
				<span class="reseaux-valid reseaux-valid-item" ng-click="ajouterReseau('classeRejoindre')" title="{{'web_button_valider' | translate}}">&#10004;</span>
			</section>
			<ul class="reseaux-liste">
				<li ng-repeat="classeRejointe in classesRejointes track by classeRejointe.id_collection" class="reseaux-item" data-id_collection="{{classeRejointe.id}}>">
					<span class="reseaux-item-label">{{classeRejointe.nom}}</span>
					<div ng-if="mode == 'usage'" ng-click="utiliserReseau(classeRejointe)" class="reseaux-valid reseaux-select-item" title="{{'web_button_selectionner' | translate}}">&#10004;</div>
					<span class="reseaux-item-cle-label">{{'label_clef' | translate}} : {{classeRejointe.cle}}</span>
					<ul class="reseaux-liste-user">
						<li ng-repeat="profil in classeRejointe.profils track by profil.id_utilisateur" class="reseaux-user">
							<img ng-click="afficherProfil(profil.id_utilisateur)" ng-src="{{profil.avatar_url || profil.image}}" alt=""/>
							<figcaption>{{profil.username}}</figcaption>
						</li>
					</ul>
				</li>
			</ul>
		</section>
	</section>
</div>

node_serveur/pairform_modules/app/views/reseau.jade
#profil-config-panel-container.panel-container-right.pf(ng-controller="controller_reseau", ng-show="visible")
  section#reseaux-wrapper.panel-wrapper
    #btn-reseaux-fermer.btn-cross-fermer(ng-click="remove()") x
    section#reseaux-head.panel-head
      h1#reseaux-user.panel-title {{"title_cercles" | translate}}
    section#cercles-container.reseaux-container
      span.sous-section-label {{"title_mes_cercles" | translate}}
      span.reseaux-add.reseaux-add-item(ng-if="mode == 'gestion'", ng-click="afficherFormReseau('ajout_cercle')", title="{{'title_creer_cercle' | translate}}") +
      section.reseaux-add-item-form(ng-if="mode == 'gestion'", ng-show="sous_mode == 'ajout_cercle'")
        input(type="text", placeholder="{{'label_nom' | translate}}", ng-model="$parent.nouveau_reseau")
        span.reseaux-cancel.reseaux-cancel-item(ng-click="afficherFormReseau(false)", title="{{'button_annuler' | translate}}") &#10008;
        span.reseaux-valid.reseaux-valid-item(ng-click="ajouterReseau('cercle')", title="{{'web_button_valider' | translate}}") &#10004;
      ul.reseaux-liste
        li.reseaux-item(ng-repeat="cercle in cercles track by cercle.id_collection", data-id_collection="{{cercle.id}}>")
          span.reseaux-item-label {{cercle.nom}}
          .reseaux-valid.reseaux-select-item(ng-if="mode == 'usage'", ng-click="utiliserReseau(cercle)", title="{{'web_button_selectionner' | translate}}") &#10004;
          .reseaux-add.reseaux-add-to-item(ng-if="mode == 'ajout'", ng-click="ajouterUtilisateurDansReseauDepuisReseau(cercle)", title="{{'web_button_ajouter_a_ce_cercle' | translate}}") +
          .reseaux-cancel.reseaux-delete-item(ng-if="mode == 'gestion'", ng-click="supprimerReseau(cercle, cercles)", title="{{'web_button_supprimer_ce_cercle' | translate}}") &#10008;
          ul.reseaux-liste-user(ng-class="{'focused-reseau' : cercle == reseau_selected}")
            .reseaux-add.reseaux-add-user(ng-if="mode == 'gestion'", ng-click="selectionUtilisateurPourReseau(cercle)", title="{{'web_button_ajouter_une_personne_cercle' | translate}}") +
            li.reseaux-user(ng-repeat="profil in cercle.profils track by profil.id_utilisateur")
              .reseaux-cancel.reseaux-delete-user(ng-if="(mode == 'gestion') || (mode == 'ajout')", ng-click="supprimerUtilisateurReseau(profil, cercle)", title="{{'web_button_supprimer_cet_utilisateur' | translate}}") &#10008;
              img(ng-click="afficherProfil(profil.id_utilisateur)", ng-src="{{profil.avatar_url || profil.image}}", alt="")
              figcaption {{profil.username}}
    section#classes-container.reseaux-container
      span.sous-section-label {{"title_classes" | translate}}
      span.reseaux-add.reseaux-add-item(ng-if="mode == 'gestion'", ng-click="afficherFormReseau('ajout_classe')", data-type="classe", title="{{'web_button_creer_classe' | translate}}") +
      section.reseaux-add-item-form(ng-if="mode == 'gestion'", ng-show="sous_mode == 'ajout_classe'")
        input(type="text", placeholder="{{'web_label_nom_classe' | translate}}", ng-model="$parent.nouveau_reseau")
        span.reseaux-cancel.reseaux-cancel-item(ng-click="afficherFormReseau(false)", title="{{'button_annuler' | translate}}") &#10008;
        span.reseaux-valid.reseaux-valid-item(ng-click="ajouterReseau('classe')", title="{{'web_button_valider' | translate}}") &#10004;
      ul.reseaux-liste
        li.reseaux-item(ng-repeat="classe in classes track by classe.id_collection", data-id_collection="{{classe.id}}>")
          span.reseaux-item-label {{classe.nom}}
          .reseaux-valid.reseaux-select-item(ng-if="mode == 'usage'", ng-click="utiliserReseau(classe)", title="{{'web_button_selectionner' | translate}}") &#10004;
          .reseaux-add.reseaux-add-to-item(ng-if="mode == 'ajout'", ng-click="ajouterUtilisateurDansReseauDepuisReseau(classe)", title="{{'web_button_ajouter_a_cette_classe' | translate}}") +
          .reseaux-cancel.reseaux-delete-item(ng-if="mode == 'gestion'", ng-click="supprimerReseau(classe, classes)", title="{{'web_button_supprimer_cette_classe' | translate}}") &#10008;
          span.reseaux-item-cle-label Cl&#233; : {{classe.cle}}
          ul.reseaux-liste-user
            .reseaux-add.reseaux-add-user(ng-if="mode == 'gestion'", ng-click="selectionUtilisateurPourReseau(classe)", title="{{'web_button_ajouter_une_personne_classe' | translate}}") +
            li.reseaux-user(ng-repeat="profil in classe.profils track by profil.id_utilisateur")
              img(ng-click="afficherProfil(profil.id_utilisateur)", ng-src="{{profil.avatar_url || profil.image}}", alt="")
              figcaption {{profil.username}}
    section#classes-rejointes-container.reseaux-container
      span.sous-section-label {{"title_classes_rejointes" | translate}}
      span.reseaux-add.reseaux-add-item.reseaux-rejoindre-item(ng-if="mode == 'gestion'", ng-click="afficherFormReseau('rejoint_classe')", data-type="rejoindre_classe", title="{{'title_rejoindre_classe' | translate}}") +
      section.reseaux-add-item-form(ng-if="mode == 'gestion'", ng-show="sous_mode == 'rejoint_classe'")
        input(type="text", placeholder="{{'label_clef_classe' | translate}}", ng-model="$parent.nouveau_reseau")
        span.reseaux-cancel.reseaux-cancel-item(ng-click="afficherFormReseau(false)", title="{{'button_annuler' | translate}}") &#10008;
        span.reseaux-valid.reseaux-valid-item(ng-click="ajouterReseau('classeRejoindre')", title="{{'web_button_valider' | translate}}") &#10004;
      ul.reseaux-liste
        li.reseaux-item(ng-repeat="classeRejointe in classesRejointes track by classeRejointe.id_collection", data-id_collection="{{classeRejointe.id}}>")
          span.reseaux-item-label {{classeRejointe.nom}}
          .reseaux-valid.reseaux-select-item(ng-if="mode == 'usage'", ng-click="utiliserReseau(classeRejointe)", title="{{'web_button_selectionner' | translate}}") &#10004;
          span.reseaux-item-cle-label {{"label_clef" | translate}} : {{classeRejointe.cle}}
          ul.reseaux-liste-user
            li.reseaux-user(ng-repeat="profil in classeRejointe.profils track by profil.id_utilisateur")
              img(ng-click="afficherProfil(profil.id_utilisateur)", ng-src="{{profil.avatar_url || profil.image}}", alt="")
              figcaption {{profil.username}}
