node_serveur/pairform_modules/injecteur/views/connexion.jade
.popinWrapper(ng-controller='controller_connexion', ng-show='visible')
  .popinFocus(ng-click='visible = false')
  #popin-connexion.popin.formBox
    section#loginBox(ng-show="mode == 'connexion'")
      h1 {{"title_connexion" | translate}}
      form#formLog(ng-submit='connecter()', method='post')
        label {{"label_pseudo" | translate}} : 
        input(type='text', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='connexion.username')
        br
        label {{"label_mot_de_passe" | translate}} :
        input(type='password', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='connexion.password')
        a#passwordForgotSwitch(ng-click="mode = 'mot_de_passe'", title="{{'web_button_mdp_oublie' | translate}}")
        br
        a.logSwitch.btn-action(ng-click="mode = 'enregistrement-0'") {{"button_creer_un_compte" | translate}}
        input.btn-action(type='submit', value="{{'web_button_valider' | translate}}")
    section#passwordForgotBox(ng-show="mode == 'mot_de_passe'")
      h1 {{"title_reinitialiser_mot_de_passe" | translate}}
      form#formPasswordForgot(ng-submit='renvoyerMotDePasse()', method='post')
        label {{"label_pseudo" | translate}} / {{"label_email" | translate}} : 
        input(required='', type='email', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='mot_de_passe_oublie.username')
        br
        a.logSwitch.btn-action(ng-click="mode = 'connexion'") {{"button_connexion" | translate}}
        input.btn-action(type='submit', value="{{'web_button_valider' | translate}}")
    section#registerBox(ng-show="mode == 'enregistrement-0'")
      h1 {{"title_nouveau_compte" | translate}}
      form#formRegister(ng-submit='enregistrer()', method='post')
        label(for='register-username') {{"label_pseudo" | translate}} : 
        input(required='', ng-minlength='4', placeholder="4 {{'web_label_caracteres_min' | translate}}", type='text', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='enregistrement.username')
        br
        label(for='register-password') {{"label_mot_de_passe" | translate}} : 
        input(required='', ng-minlength='6', placeholder="6 {{'web_label_caracteres_min' | translate}}", type='password', value='', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='enregistrement.password')
        br
        label(for='register-password2') {{"label_mot_de_passe_confirmation" | translate}} : 
        input(required='', ng-minlength='6', placeholder="6 {{'web_label_caracteres_min' | translate}}", type='password', value='', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='enregistrement.password2')
        br
        label(for='register-email') {{"label_email" | translate}} : 
        input(required='', placeholder='mail@exemple.com', type='email', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='enregistrement.email')
        br
        label(for='register-name') {{"label_nom" | translate}} / {{"label_prenom" | translate}} : 
        input(required='', placeholder="{{'web_label_nom_maj' | translate}} {{'label_prenom' | translate}}", type='text', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='enregistrement.name')
        br
        label(for='register-langue') {{"label_langue_principale_2" | translate}} : 
        select(ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='enregistrement.langue', ng-options='lg.id as lg.label for lg in tableau_langues_label')
        br
        // <label for="register-langue">{{'web_label_autres_langues' | translate}} : </label><span class="btn-action">{{'button_choisir' | translate}}...</span><br>
        label(for='register-etablissement') {{"label_etablissement" | translate}} ({{"web_label_optionnel" | translate}}) : 
        input(placeholder="{{'web_label_ecole_entreprise' | translate}}", type='text', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='enregistrement.etablissement')
        br
        input(required='', type='checkbox', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }", ng-model='enregistrement.register_cgu')
        |  
        label.label-small(for='register-cgu')
          | {{"web_label_cocher_case" | translate}} 
          a(href='https://www.pairform.fr/cgu/utilisateur', target='_blank', style='color:#822;') {{"web_label_conditions_generales_utilisation" | translate}}
        a.logSwitch.btn-action(ng-click="mode = 'connexion'") {{"button_connexion" | translate}}
        input.btn-action(type='submit', value="{{'button_enregistrer' | translate}}")
    section#postRegisterBox(ng-show="mode == 'enregistrement-1'")
      h1 {{"web_title_validation" | translate}}
      div
        h3 {{"label_creation_de_compte_reussi" | translate}}
        span
          | {{"web_label_clique_dehors" | translate}}
  #popin-choix-autres-langues-register.popin.formBox(ng-show="mode == 'langue-1'")
    section#choiceOtherLanguagesBoxRegister
      h1 {{"title_autres_langues" | translate}}
      section#sec-other-languages
        ul#list-other-languages-register
      span#btn-ok-choice-other-languages-register.btn-action OK
  #popin-change-langue-app-register.popin.formBox(ng-show="mode == 'langue-2'")
    section#changeLanguageAppBoxRegister
      h1 {{"title_langue_application" | translate}}
      p {{"label_changer_langue_app" | translate}}
      span#btn-yes-change-langue-app-register.btn-action {{"button_non" | translate}}
      span#btn-no-change-langue-app-register.btn-action {{"button_oui" | translate}}

node_serveur_old_trunk/pairform_modules/app/views/connexion.html
<div class="popinWrapper" ng-controller="controller_connexion" ng-show="visible">
<!-- <div class="popinWrapper" ng-controller="controller_connexion" ng-class="visible ? '' : 'hide'"> -->
	<div class="popinFocus" ng-click="visible = false"></div>
	<div class="popin formBox" id="popin-connexion" >
		<section id="loginBox" ng-show="mode == 'connexion'">
			<h1>{{'title_connexion' | translate}}</h1>
			<form ng-submit="connecter()" method="post" id="formLog">
				<label>{{'label_pseudo' | translate}} : </label><input type="text" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="connexion.username"/><br>
				<label>{{'label_mot_de_passe' | translate}} :</label><input type="password" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="connexion.password"/>
				<a ng-click="mode = 'mot_de_passe'" id="passwordForgotSwitch" title="{{'web_button_mdp_oublie' | translate}}"></a><br>
				<a ng-click="mode = 'enregistrement-0'" class="logSwitch btn-action">{{'button_creer_un_compte' | translate}}</a>

				<input class="btn-action" type="submit"  value="{{'web_button_valider' | translate}}" />
			</form>
		</section>
		<section id="passwordForgotBox" ng-show="mode == 'mot_de_passe'">
			<h1>{{'title_reinitialiser_mot_de_passe' | translate}}</h1>
			<form ng-submit="renvoyerMotDePasse()" method="post" id="formPasswordForgot">
				<label>{{'label_pseudo' | translate}} / {{'label_email' | translate}} : </label><input required type="email" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="mot_de_passe_oublie.username"/><br>
				
				<a ng-click="mode = 'connexion'" class="logSwitch btn-action">{{'button_connexion' | translate}}</a>
				<input class="btn-action" type="submit"  value="{{'web_button_valider' | translate}}" />
			</form>
		</section>
		<section id="registerBox" ng-show="mode == 'enregistrement-0'">
			<h1>{{'title_nouveau_compte' | translate}}</h1>
			<form ng-submit="enregistrer()" method="post" id="formRegister" >
				<label for="register-username">{{'label_pseudo' | translate}} : </label><input required ng-minlength="4" placeholder="4 {{'web_label_caracteres_min' | translate}}" type="text"  ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="enregistrement.username" ><br>
				<label for="register-password">{{'label_mot_de_passe' | translate}} : </label><input required ng-minlength="6" placeholder="6 {{'web_label_caracteres_min' | translate}}" type="password" value=""  ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="enregistrement.password" ><br>
				<label for="register-password2">{{'label_mot_de_passe_confirmation' | translate}} : </label><input required ng-minlength="6" placeholder="6 {{'web_label_caracteres_min' | translate}}" type="password" value=""  ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="enregistrement.password2" ><br>
				<label for="register-email">{{'label_email' | translate}} : </label><input required placeholder="mail@exemple.com" type="email"  ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="enregistrement.email" ><br>
				<label for="register-name">{{'label_nom' | translate}} / {{'label_prenom' | translate}} : </label><input required placeholder="{{'web_label_nom_maj' | translate}} {{'label_prenom' | translate}}" type="text"  ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="enregistrement.name" ><br>
				<label for="register-langue">{{'label_langue_principale_2' | translate}} : </label><select  ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="enregistrement.langue" ng-options="lg.id as lg.label for lg in tableau_langues_label"></select><br>
				<!-- <label for="register-langue">{{'web_label_autres_langues' | translate}} : </label><span class="btn-action">{{'button_choisir' | translate}}...</span><br> -->
				<label for="register-etablissement">{{'label_etablissement' | translate}} ({{'web_label_optionnel' | translate}}) : </label><input placeholder="{{'web_label_ecole_entreprise' | translate}}" type="text"  ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="enregistrement.etablissement" ><br>
				<input required type="checkbox" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="enregistrement.register_cgu" > <label class="label-small" for="register-cgu">{{'web_label_cocher_case' | translate}} <a href="http://www.pairform.fr/CGU_user.html" target="_blank" style="color:#822;">{{'web_label_conditions_generales_utilisation' | translate}}</a></label>
				<a ng-click="mode = 'connexion'" class="logSwitch btn-action">{{'button_connexion' | translate}}</a>
				<input class="btn-action" type="submit" value="{{'button_enregistrer' | translate}}">
			</form>
		</section>
		<section id="postRegisterBox" ng-show="mode == 'enregistrement-1'">
			<h1>{{'web_title_validation' | translate}}</h1>
			<div>
				<h3>{{'label_creation_de_compte_reussi' | translate}}</h3>

				<span>
					{{'web_label_clique_dehors' | translate}}
				</span>
			</div>
		</section>
	</div>
	<div class="popin formBox" id="popin-choix-autres-langues-register" ng-show="mode == 'langue-1'">
		<section id="choiceOtherLanguagesBoxRegister">
			<h1>{{'title_autres_langues' | translate}}</h1>
			<section id="sec-other-languages">
				<ul id="list-other-languages-register"></ul>
			</section>
			<span id="btn-ok-choice-other-languages-register"  class="btn-action">OK</span>
		</section>
	</div>
	<div class="popin formBox" id="popin-change-langue-app-register"  ng-show="mode == 'langue-2'">
		<section id="changeLanguageAppBoxRegister">
			<h1>{{'title_langue_application' | translate}}</h1>
			<p>{{'label_changer_langue_app' | translate}}</p>
			<span id="btn-yes-change-langue-app-register"  class="btn-action">{{'button_non' | translate}}</span>
			<span id="btn-no-change-langue-app-register"  class="btn-action">{{'button_oui' | translate}}</span>
		</section>
	</div>
</div>
