node_serveur/pairform_modules/injecteur/views/nav_bar.jade
nav(ng-controller='controller_nav_bar')
      #btn-wrapper-left
        span Étapes 
        span.step.step-1(ng-click="changerEtape(1)") 1
        span.step.step-2(ng-click="changerEtape(2)") 2
        span.step.step-3(ng-click="changerEtape(3)") 3
        span.step.step-4(ng-click="changerEtape(4)") 4
        span.btn-action(ng-click="switchToApp()") Retourner à votre site
      
      include tutoriel.jade

      #label-title
        h3 {{capsule.nom_long}}
      #btn-login(ng-hide='utilisateur_local.est_connecte', ng-click='afficherConnexion()')
        span {{"button_connexion" | translate}}
      #btn-wrapper-right(ng-show='utilisateur_local.est_connecte')
        //- #btn-bar-deplacer-messages.btn-bar.btn-bar-expandable(draggable='true', ng-show='array_messages_deplacement.length', ng-click='afficherMessagesDeplacement()')
          ul.arrow_box(ng-show='messages_deplacement_visible')
            li(draggable='true', ng-repeat='message in array_messages_deplacement track by message.id_message')
              // <li ng-drag-start="messageDragStart($data,$event)" ng-drag-start="messageDragStop($data,$event)" ng-drag="true" ng-drag-data="message" ng-center-anchor="true" ng-repeat="message in array_messages_deplacement track by message.id_message">
              .illustration(ng-style="{'background-image' : 'url('+message.url_avatar_auteur+')'}")
              .content-wrapper
                span {{message.pseudo_auteur}}
                span {{message.contenu | limitTo:20}}...
              .content-action
                div(ng-click='supprimerDeplacementMessage(message)') &cross;
                a(ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}") &#x276F;
        //- #btn-bar-actualiser-messages.btn-bar(ng-click='actualiser()', title="{{'button_recuperer_nouveaux_messages' | translate}}")
        //- #btn-bar-notifications-score.btn-bar.btn-bar-expandable(ng-click="afficherNotification('us')", data-count='{{notifications.count_us}}', title='Notifications de changement de score')
          ul.arrow_box(ng-show="notifications.visible == 'us'")
            li.notification.notification-empty.notification-header(ng-show='notifications.us.length == 0') {{"web_label_aucune_notification_recente" | translate}}
            li.notification(ng-click="actionNotification(notif, 'us')", ng-repeat='notif in notifications.us | limitTo:15  track by notif.id_notification', data-type='us')
              .illustration(ng-class="{'positif' : notif.points > 0, 'negatif' : notif.points < 0}")
                | {{notif.points > 0 ? ("+" + notif.points) : notif.points}}
              .content-wrapper
                span {{notif.titre | translate}}
                span {{notif.label | translate}}
                div
        //- #btn-bar-notifications-user.btn-bar.btn-bar-expandable(ng-click="afficherNotification('un')", data-count='{{notifications.count_un}}', title='Notifications')
          ul.arrow_box(ng-show="notifications.visible == 'un'")
            li.notification.notification-empty.notification-header(ng-show='notifications.un.length == 0') {{"web_label_aucune_notification_recente" | translate}}
            li.notification(ng-click="actionNotification(notif, 'un')", ng-repeat='notif in notifications.un | limitTo:15  track by notif.id_notification', data-type='un')
              .illustration(ng-style="{'background-image' : 'url(' + res_url_private + 'img/' + (notif.sous_type == 'gs' ? 'succes/' : '')+ + notif.image + (notif.sous_type == 'gm' ? notif.contenu.split(' - ')[1] : '')+ '.png)'}")
              .content-wrapper
                span {{notif.titre | translate}}
                span {{notif.label | translate}}
                div
        #btn-profil(ng-click='afficherProfil()')
          img(ng-src='{{utilisateur_local.avatar_url}}')
          h5#profil-name {{utilisateur_local.username}}
          //- span#profil-pts {{utilisateur_local.rank[capsule.id_capsule].score}}
          //- span#profil-pts-label  {{"label_pts" | translate}}
          //- #wsIndicator.unsure(title="{{'web_label_maj_temps_reel' | translate}}")
          //-#panel-Profil
            ul
              li#btn-mon-profil {{"button_profil" | translate}}
              li#btn-menu-notifications
              li#btn-menu-noms-reels
              li#btn-reinitmesslus {{"web_button_reinit_messages_lus" | translate}}
              li#btn-refreshPage {{"button_recuperer_nouveaux_messages" | translate}}
              li#btn-logout {{"button_deconnexion" | translate}}

node_serveur_old_trunk/pairform_modules/app/views/nav_bar.html
<nav ng-controller="controller_nav_bar">
	<!-- Module de barre de navigation -->
	<div id="btn-menu" ng-click="sidebar_visible = !sidebar_visible">
		<img ng-src="{{res_url_private + 'img/Menu_Bouton_noir.png'}}">
		<div ng-show="sidebar_visible" id="sidebar">
			<ul>
				<li ng-class="{disabled : !utilisateur_local.est_connecte}" ng-click="afficherDashboard()" id="btn-menu-dashboard">
					<img ng-src="{{res_url_private + 'img/menu/dashboard.png'}}" alt="">
					{{'web_label_menu_dashboard' | translate}}
				</li>
				<li ng-click="afficherMessagesTransversal()" id="btn-menu-messages">
					<img ng-src="{{res_url_private + 'img/menu/messages.png'}}" alt="">
					{{'web_label_menu_messages' | translate}}
				</li>
				<li ng-click="afficherRessources()" id="btn-menu-ressources">
					<img ng-src="{{res_url_private + 'img/menu/ressources.png'}}" alt="">
					{{'web_label_menu_ressources' | translate}}
				</li>
				<li ng-click="afficherRecherche()" id="btn-menu-recherche">
					<img ng-src="{{res_url_private + 'img/menu/recherche_utilisateur.png'}}" alt="">
					{{'web_label_menu_recherche' | translate}}
				</li>
				<li ng-class="{disabled : !utilisateur_local.est_connecte}" ng-click="utilisateur_local.est_connecte ? afficherPreferences() : null" id="btn-menu-preferences">
					<img ng-src="{{res_url_private + 'img/menu/preferences.png'}}" alt="">
					{{'web_label_menu_preferences' | translate}}
				</li>
				<li ng-click="afficherPresentation()" id="btn-menu-presentation">
					<img ng-src="{{res_url_private + 'img/menu/aide.png'}}" alt="">
					{{'web_label_menu_presentation' | translate}}
				</li>

				
				<!-- <a href="http://www.pairform.fr/CGU_user.html" target="CGU"><li id="btn-menu-cgu">{{'button_cgu_2' | translate}}</li></a> -->
			</ul>
		</div>
	</div>
	<div id="btn-wrapper-left" >
		<div class="btn-bar" id="btn-bar-capsule-icone" ng-click="afficherFicheRessource()" title="{{capsule.nom_long}}" ng-style="{'background-image':'url(' + res_url_root + capsule.url_logo+')'}">
			
		</div>
		<!-- <div class="btn-bar" id="btn-bar-messages-section" title="Messages sur cette section"></div> -->
		<!-- <div class="btn-bar" id="btn-bar-aide" ng-click="afficherPresentation()" title="{{'button_aide' | translate}}"></div> -->
		<!-- <div class="btn-bar" id="btn-bar-langue" title="{{'label_langue' | translate}}">
			<img id="img-langueApp" src="">
			<div id="panel-Langue-App">
				<ul></ul>
			</div>
		</div> -->
	</div>
	<div id="label-title">
		<h3>{{capsule.nom_long}}</h3>
	</div>
	<div ng-hide="utilisateur_local.est_connecte" ng-click="afficherConnexion()" id="btn-login">
		<span>{{'button_connexion' | translate}}</span>
	</div>
	<div ng-show="utilisateur_local.est_connecte" id="btn-wrapper-right">
		<div draggable="true" ng-show="array_messages_deplacement.length" ng-click="afficherMessagesDeplacement()" class="btn-bar btn-bar-expandable" id="btn-bar-deplacer-messages">
			<ul class="arrow_box" ng-show="messages_deplacement_visible">
				<li draggable="true" ng-repeat="message in array_messages_deplacement track by message.id_message">
				<!-- <li ng-drag-start="messageDragStart($data,$event)" ng-drag-start="messageDragStop($data,$event)" ng-drag="true" ng-drag-data="message" ng-center-anchor="true" ng-repeat="message in array_messages_deplacement track by message.id_message"> -->
					<div class="illustration" ng-style="{'background-image' : 'url('+message.url_avatar_auteur+')'}">
					</div>
					<div class="content-wrapper">
						<span>{{message.pseudo_auteur}}</span>
						<span>{{message.contenu | limitTo:20}}…</span>
					</div>
					<div class="content-action">
						<div ng-click="supprimerDeplacementMessage(message)">&#10007;</div>
						<a ng-href="{{res_url_root + 'webServices/message/rediriger?id_message=' + message.id_message}}">&#10095;</a>
					</div>

				</li>
			</ul>
		</div>
		<div ng-click="actualiser()" class="btn-bar" id="btn-bar-actualiser-messages" title="{{'button_recuperer_nouveaux_messages' | translate}}"></div>
		<div ng-click="afficherNotification('us')" class="btn-bar btn-bar-expandable" id="btn-bar-notifications-score" data-count="{{notifications.count_us}}" title="Notifications de changement de score">
			<ul class="arrow_box" ng-show="notifications.visible == 'us'">
				<li ng-show="notifications.us.length == 0" class="notification notification-empty notification-header">{{'web_label_aucune_notification_recente' | translate}}</li>
				<li ng-click="actionNotification(notif, 'us')" ng-repeat="notif in notifications.us | limitTo:15  track by notif.id_notification" class="notification" data-type="us">
					<div class="illustration" ng-class="{'positif' : notif.points > 0, 'negatif' : notif.points < 0}">
						{{notif.points > 0 ? ('+' + notif.points) : notif.points}}
					</div>
					<div class="content-wrapper">
						<span>{{notif.titre | translate}}</span>
						<span>{{notif.label | translate}}</span>
					<div>
				</li>
			</ul>
		</div>
		<div ng-click="afficherNotification('un')" class="btn-bar btn-bar-expandable" id="btn-bar-notifications-user" data-count="{{notifications.count_un}}" title="Notifications">
			<ul class="arrow_box" ng-show="notifications.visible == 'un'">
				<li ng-show="notifications.un.length == 0" class="notification notification-empty notification-header">{{'web_label_aucune_notification_recente' | translate}}</li>
				<li ng-click="actionNotification(notif, 'un')" ng-repeat="notif in notifications.un | limitTo:15  track by notif.id_notification" class="notification" data-type="un">
					<div class="illustration" ng-style="{'background-image' : 'url(' + res_url_private + 'img/' + (notif.sous_type == 'gs' ? 'succes/' : '')+ + notif.image + (notif.sous_type == 'gm' ? notif.contenu.split(' - ')[1] : '')+ '.png)'}"></div>
					<div class="content-wrapper">
						<span>{{notif.titre | translate}}</span>
						<span>{{notif.label | translate}}</span>
					<div>
				</li>
			</ul>
		</div>
		<div id="btn-profil" ng-click="afficherProfil()">
			
			<img ng-src="{{utilisateur_local.avatar_url}}">
			<h5 id="profil-name">{{utilisateur_local.username}}</h5>
			<span id="profil-pts">{{utilisateur_local.rank[capsule.id_capsule].score}}</span>
			<span id="profil-pts-label"> {{'label_pts' | translate}}</span>
			<div id="wsIndicator" class="unsure" title="{{'web_label_maj_temps_reel' | translate}}"></div>
			<div id="panel-Profil">
				<ul>
					<li id="btn-mon-profil">{{'button_profil' | translate}}</li>
					<li id="btn-menu-notifications"></li>
					<li id="btn-menu-noms-reels"></li>
					<li id="btn-reinitmesslus">{{'web_button_reinit_messages_lus' | translate}}</li>
					<li id="btn-refreshPage">{{'button_recuperer_nouveaux_messages' | translate}}</li>
					<li id="btn-logout">{{'button_deconnexion' | translate}}</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
