node_serveur_old_trunk/pairform_modules/app/views/profil.html
<div ng-controller="controller_profil" class="panel-container-right pf" ng-show="visible">
	<section id="profil-wrapper" class="panel-wrapper">
		<div class="btn-cross-fermer" ng-click="remove()" id="btn-profil-fermer">x</div>

		<section id="profil-info">
			<div id="profil-info-avatar">
				<img ng-src="{{utilisateur.avatar_url}}" alt="" id="profil-img">
				<img ng-src="{{res_url_private}}img/langue/icone_drapeau_rond_{{codeFromId(utilisateur.langue_principale)}}.png" alt="" id="profil-icone-langue">
				<div ng-if="is_connected_user" id="profil-info-avatar-label" ng-click="fonctionPasDisponible()">{{'title_modifier_avatar' | translate}}</div>
			</div>
			<div id="profil-info-inner">
				<h1 id="profil-username">{{utilisateur.username}}
					<div ng-if="is_connected_user" id="btn-profil-config" ng-click="afficherProfilConfig()" class="options-cog" title="{{'title_modifier_compte' | translate}}"></div>
				</h1>
				<div id="profil-etablissement">{{utilisateur.etablissement}}</div>
				<div id="profil-status" ng-class="(utilisateur.offline != false) ? 'offline' : 'online'">{{utilisateur.labelStatus}}</div>
			</div>	
		</section>
		<section class="panel-actions">
			<div ng-click="afficherMessagesUtilisateur(utilisateur.id_utilisateur)" id="btn-profil-messages" class="btn-action">
				{{(is_connected_user ? 'button_mes_messages' : 'button_ses_messages') | translate}}
			</div>
			<div ng-click="is_connected_user ? afficherReseau('gestion') :  afficherReseau('ajout', utilisateur)" id="btn-profil-mon-reseau" class="btn-action">
				{{(is_connected_user ? 'button_cercles' : 'button_ajouter') | translate}}
			</div>
			<div ng-if="is_connected_user" ng-click="deconnecter(); remove();" class="btn-action">
				{{'button_deconnexion' | translate}}
			</div>
		</section>
		<section id="profil-succes" >
			<span id="profil-succes-label">
				{{'title_derniers_succes' | translate}} ({{utilisateur.nb_succes_gagnes}}/74)
			</span>
			<div ng-click="afficherSucces(utilisateur.id_utilisateur, utilisateur.succes)" id="profil-succes-container">
				<img ng-repeat="succes_recent in utilisateur.derniers_succes | limitTo:5" ng-src="{{res_url_private + 'img/succes/' + succes_recent.nom_logo + '.png'}}">
			</div>
		</section>
		<section id="profil-niveaux">
			<span id="profil-niveaux-label">{{((is_connected_user == "true") ? 'title_mes_ressources' : 'title_ses_ressources') | translate}}</span>
			<ul id="profil-ressource-container">
				<li ng-repeat="ressource in utilisateur.ressources" class="profil-ressource" >
					
					<img ng-src="{{res_url_root + ressource.url_logo}}" ng-click="afficherFicheRessource(ressource.id_ressource)" class="profil-ressource-image">

					<div class="profil-ressource-inner">
						<div class="profil-ressource-nom">{{ressource.nom_court}}</div>
						<div class="profil-ressource-rang">{{('label_user_' + ressource.nom_categorie.toLowerCase()) | translate}}
						</div>
						<div class="profil-ressource-points">{{ressource.score}} pts</div>
						<div class="btn-action profil-ressource-upgrade" ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank_ressources[ressource.id_ressource].id_categorie >= 4) && (is_connected_user == false)" ng-click="$parent.upgrade_ressource = ($parent.upgrade_ressource == ressource.id_ressource) ? false : ressource.id_ressource">
							Modifier...
							<pf-menu-changer-role class="ui-tooltip-bottom rank-upgrade-wrapper" ng-if="$parent.upgrade_ressource == ressource.id_ressource"/>
						</div>
					</div>
				</li>

			</ul>
		</section>
	</section>
</div>

node_serveur/pairform_modules/home/views/profil.jade
include mixins
div(ng-controller="profil")
  h1.page-header 
    img(src="#{url_serveur_node}/public/img/icone/profil.png", alt="profil")
    | Profil

  section#profil-wrapper.panel-wrapper
    section#profil-info
      #profil-info-avatar
        img#profil-img.avatar(ng-src="{{utilisateur.avatar_url}}", alt="")
        img#profil-icone-langue(ng-src="{{res_url_private}}img/langue/icone_drapeau_rond_{{codeFromId(utilisateur.langue_principale)}}.png", alt="")
        a#profil-info-avatar-label(ng-if="is_connected_user", ng-click="$root.modal_avatar_upload = true") {{"title_modifier_avatar" | translate}}
      #profil-info-inner
        h1#profil-username {{utilisateur.username}}
        #profil-etablissement {{utilisateur.etablissement}}
        #profil-status(ng-class="(utilisateur.offline != false) ? 'offline' : 'online'") {{utilisateur.labelStatus}}
    section.panel-actions
      a#btn-profil-messages.btn-action(ng-href="{{'messages/utilisateur/' + utilisateur.id_utilisateur}}")
        | {{(is_connected_user ? "button_mes_messages" : "button_ses_messages") | translate}}
      #btn-profil-mon-reseau.btn-action(ng-click="is_connected_user ? afficherReseau('gestion') :  afficherReseau('ajout', utilisateur)")
        | {{(is_connected_user ? "button_cercles" : "button_ajouter") | translate}}
      a.btn-action(ng-click="$root.modal_profil_config = true" ng-show="is_connected_user")
        | {{"title_modifier_compte" | translate}}
      .btn-action(ng-click="deconnecter(); remove();" ng-show="is_connected_user")
        | {{"button_deconnexion" | translate}}
    section#profil-badge
      span#profil-badge-label
        | {{"title_derniers_badges" | translate}} ({{utilisateur.nb_openbadges}})
      a#profil-badge-container(ng-href="{{'profil/' + utilisateur.id_utilisateur + '/badges'}}")
        img(ng-repeat="badge_recent in utilisateur.openbadges | limitTo:12", ng-src="{{badge_recent.url_logo}}")
    section#profil-succes
      span#profil-succes-label
        | {{"title_derniers_succes" | translate}} ({{utilisateur.nb_succes_gagnes}}/74)
      a#profil-succes-container(ng-href="{{'profil/' + utilisateur.id_utilisateur + '/succes'}}")
        img(ng-repeat="succes_recent in utilisateur.derniers_succes | limitTo:12", ng-src="{{res_url_private + 'img/succes/' + succes_recent.nom_logo + '.png'}}")
    section#profil-niveaux
      span#profil-niveaux-label
        | {{((is_connected_user == "true") ? "title_mes_ressources" : "title_ses_ressources") | translate}}
      ul#profil-ressource-container
        li.profil-ressource(ng-repeat="ressource in utilisateur.ressources")
          img.profil-ressource-image(ng-src="{{res_url_root + ressource.url_logo}}", ng-click="afficherFicheRessource(ressource.id_ressource)")
          .profil-ressource-inner
            .profil-ressource-nom {{ressource.nom_court}}
            .profil-ressource-rang
              | {{("label_user_" + ressource.nom_categorie.toLowerCase()) | translate}}
            .profil-ressource-points {{ressource.score}} pts
            .btn-action.profil-ressource-upgrade(ng-if="utilisateur_local.est_connecte && (utilisateur_local.rank_ressources[ressource.id_ressource].id_categorie >= 4) && (is_connected_user == false)", ng-click="$parent.upgrade_ressource = ($parent.upgrade_ressource == ressource.id_ressource) ? false : ressource.id_ressource")
              | Modifier...
              pf-menu-changer-role.ui-tooltip-bottom.rank-upgrade-wrapper(ng-if="$parent.upgrade_ressource == ressource.id_ressource")

+modal("modal_profil_config")
    include profil_config
+modal("modal_avatar_upload")
    include avatar_upload
+modal("modal_ressource")
  include ressource
